
{% extends 'base.html' %}
{% block title %}Просмотр пользователя{% endblock %}
{% block content %}
<h1 class="h3 mb-3">Просмотр пользователя</h1>
<table class="table table-bordered">
    <tr><th>ID</th><td>{{ user['id'] }}</td></tr>
    <tr><th>Логин</th><td>{{ user['login'] }}</td></tr>
    <tr><th>Фамилия</th><td>{{ user['last_name'] or '—' }}</td></tr>
    <tr><th>Имя</th><td>{{ user['first_name'] }}</td></tr>
    <tr><th>Отчество</th><td>{{ user['middle_name'] or '—' }}</td></tr>
    <tr><th>Роль</th><td>{{ user['role_name'] or '—' }}</td></tr>
</table>
{% endblock %}
